body {
    padding-top: 65px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.logo {
    margin-top: -3px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #65DEF1;
    border-top: 2px solid #FF9F33;
    border-bottom: 1px solid #808080;
}



.hotNews {
    display: flex;
    flex-wrap: wrap;
}

.newsWrap {
    width: 100%;

}

.headLines a h2 {
    color: #1F5673;
}

.addButton {
    padding: 10px;
}

.hotNewsUrl {
    
    word-wrap: break-word;
}

a {
    color: #1F5673;
}

td {
    color: #65DEF1;
    /* css-3 */
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: pre-wrap;
    white-space: pre-wrap;
}

table {
    table-layout: fixed;
    width: 100%
}

    td a {
        color: #FF9F33;
    }

    a:hover {
        color: #FF9F33;
        text-decoration: none;
    }

    a:visited {
        color: #FF9F33;
    }

        a:visited:hover {
            color: #65DEF1;
            text-decoration: none;
        }

.navbar-nav > li > a {
    color: #1F5673;
}

.navbar-nav > li > a:hover {
    color: #FF9F33;
}

.navbar-inverse .navbar-nav > li > a {
    color: #1F5673;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #FF9F33;
    }

.phrase {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:414px) {
    .slogan {
        width: 300px;
    }
}


/* Below here is for the accordion on index*/
/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #1F5673;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

.more-less {
    float: right;
    color: #1F5673;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */
body {
    background-color: #1F5673;
}

.demo {
    padding-top: 60px;
    padding-bottom: 20px;
}

.separator {
    height: 5px;
    width: 100%;
}

a {
    font-family: 'Courier New';
    font-size: 18px;
    font-weight: bold;
    color: #1F5673;
}

    a h2 {
        color: #1F5673;
    }

h2 {
    font-family: 'Courier New';
    font-weight: bolder;
    color: #FF9F33;
}

h4 {
    font-family: 'Courier New';
    font-weight: bolder;
    color: #1F5673;
}

    h4 a {
        color: #1F5673;
    }

#results h4 {
    color: #FF9F33;
}

    h4 :hover {
        color: #FF9F33;
    }


    h2 :hover {
        color: #FF9F33;
    }

.hotNews h4 {
    color: #FF9F33;
}

.twoBy {

}

.threeBy {
    margin-top: 20px;
}

.fourBy {
    margin-top: 20px;
}

.headLines {
    margin-top: 20px;
}


.double1 {
    margin-top: 20px;
}

.aboutHead {
    display: flex;
    justify-content: center;
}

.aboutLogo {
    margin-top: 5px;
}

.aboutHead h1 {
    color: white;
    font-family: 'Courier New';
    font-weight: bold;
}

.maxPic {
    display: flex;
    justify-content: center;
}

.maxPicPic {
    border-radius: 20px;
}

.description {
    margin-top: 20px;
}

.description p {
    color: white;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 15px;
}

.logInSplash {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logInBg {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background: url("/Images/max.JPG") center no-repeat;
    opacity: .5;
    position: absolute;
}

.logInWords {
    margin-top: 20px;
    position: absolute;
    opacity: 1;

}

.row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container body-content {
    position: relative;
}

.foot {
    position: ;
}