@model IEnumerable<HotArticles>
@using Corgi.Models;

@foreach (var story in Model)
{
    <div class="newsWrap">
        <div class="hotNews">
            <div class="addButton">
                <a href="#" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Story
                </a>
            </div>
            <h4>
                @story.StoryName
            </h4>
        </div>
        <div class="hotNewsUrl">
            <h5>
                @story.Url
            </h5>
        </div>
    </div>

}
