@model IEnumerable<HotArticles>
@using Corgi.Models;

@foreach (var story in Model)
{
    <div class="newsWrap">
        <div class="hotNews">
            <h4>
                @story.StoryName
            </h4>
        </div>
        <div class="hotNewsUrl">
            <h5>
                @story.Url
            </h5>
        </div>
    </div>

}
