@model IEnumerable<HotArticles>

@using Corgi.Models;

@{
    ViewBag.Title = "Index";
}

@foreach (var story in Model)
{
        <h2>
            @story.StoryName
        </h2>
        <h3>
            @story.Url
        </h3>

}