@model IEnumerable<HotArticles>

@using Corgi.Models;

@{
    ViewBag.Title = "Index";
}

@foreach (var story in Model)
{
    <div class="hotNews">
        <h2>
            @story.StoryName
        </h2>
    </div>
    <div class="hotNewsUrl">
        <h3>
            @story.Url
        </h3>
    </div>
}