@{
    ViewBag.Title = "About";
}



<div class="aboutHead">
    <h1>What is  </h1><img  class="aboutLogo" src="/Images/logo.png" alt="Logo" height="70"/><h1>???</h1>
</div>

<div class="maxPic">
    <img class="maxPicPic" src="/Images/max.jpg" alt="Max" height="200"/>
</div>

<div class="description">
    <p>Corgi is an aggregated news site concept with one goal in mind. Herding multiple sources and providing them in
    one location, unlabelled and unfiltered. The goal of Corgi is to establish a userbase that is not only knowledgable in 
    current events, but one that is not polarized on issues from only being exposed to one side of a story and someone that is
    not merely perpetuating their own viewpoints.</p>
    <p>In this age of "fake news" and "alternate facts" the news and media are at a cross-roads between what society needs to know
    how to succesfully create propoganda promoting their ideology of choice. Today's news consumer is more self-aware of this fact
    however still struggles to sift through this myriad of information in order to come to a reasonable conclusion.</p>
    <p>Corgi aims to provide multiple sources of the same topic, unlabeled as to prevent cherry-picking sites and ultimately
     letting the user view multiple sources and come to a reasonable conclusion of the truth on their own.</p>
    <p>Corgi will also give insight into topics that have come and gone from the mainstream medias attention and continue to dig,
    in direct opposition of following the new millenias trend of "today's distraction."</p>
</div>
